{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
  <div class="row row-content align-items-center">
    <img class="img-thumbnail img-fluid" src="{{ user.profile.photo.url }}">
    <div class="col">
      <h2>Hello {{ user.get_full_name }}</h2>
      <div class="row">
        <div class="col">
          <p>Date of birth: {{ user.profile.date_of_birth }}</p>
          <p>Location: {{ user.profile.location }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          {% with total_followers=user.followers.count %}
            <span class="count">
              <strong><span class="total">{{ total_followers }}</span> follower{{ total_followers|pluralize }}</strong>
            </span>
            {% if request.user not in user.followers.all %}
              <a href="{% url 'user_follow' user.id %}" class="btn btn-success btn-sm">Follow</a>
            {% else %}
              <a href="{% url 'user_unfollow' user.id contact.id %}" class="btn btn-danger btn-sm">Unfollow</a>
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>

  <div class="row row-content align-items-center">
    <div class="col">
      <h2>User information:</h2>
      <div class="row">
        <div class="col">
          <p>Username: {{ user.username }}</p>
          <p>Firstname {{ user.first_name }}</p>
          <p>Lastname: {{ user.last_name }}</p>
        </div>
      </div>
    </div>
    <div class="col">

    </div>
  </div>
{% endblock %}

