{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}List{% endblock %}

{% block content %}
  <div class="search-bar">
    <div class="row">
      <div class="col">
        <h3>Search</h3>
        <p class='text-muted'>look for a specific book</p>
        <form action="{% url 'book_list_search' %}" method="get">
          <div class="input-group">
            <input id="book_query" type="text" class="form-control" name="query" maxlength="100" required>
            <span class="input-group-btn">
              <button class="btn btn-outline-success" type="submit" id="search_bar">Search</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% for book in page_obj %}
    <div class="h-30 row row-content align-items-center" id="book-row-{{ forloop.counter }}">
      <div class="col-sm-4 col-md-3">
        <img alt="book-cover" class="mx-auto d-block img-fluid" src="{{ book.cover.url }}">
      </div>
      <div class="col-sm-8 col-md-8">
        <div class="card mb-4">
          <div class="card-body h-80">
            <h5 class="card-title">{{ book.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted"><a href="{% url 'book_list_by_author' book.author.id %}">{% if book.author.first_name %}{{ book.author.first_name }}{% endif %} {{ book.author.last_name }}</a></h6>
            <p class="card-text">Genres: {% for genre in book.genre.all %}<a href="{%  url 'book_list_by_genre' genre.id %}"> {{ genre.genre }} </a>{% endfor %}</p>
            <p><strong>Average rating: {{ book.average_rating|floatformat:2 }}/5 out of {{ book.num_ratings }} votes</strong></p>

            <div class="row">
              <div class="col-12 col-sm-4">
                <a id="button-{{ forloop.counter }}" href="{% url 'book_detail' book.id %}" class="btn btn-primary" role="button">See book</a>
              </div>
              <div class="col-12 col-sm-4">

              </div>
              <div class="col-12 col-sm-4">

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  {% endfor %}

  {% if page_obj %}
    <nav id="book_list_pagination" aria-label="Page navigation example">
      <UL class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">first</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">previous</a></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                  <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">{{ num }}</a></li>
              {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2'%}
                  <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">{{ num }}</a></li>
              {% endif %}
          {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">last</a></li>
        {% endif %}
      </UL>
    </nav>
  {% else %}
    <p>No books have been found</p>
  {% endif %}
{% endblock %}