{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}List{% endblock %}

{% block content %}
  <div class="search-bar">
    <div class="row">
      <div class="col">
        <h3>Search</h3>
        <p class='text-muted'>look for a specific book</p>
        <form action="{% url 'book_list_search' %}" method="get">
          <div class="input-group">
            <input id="book_query" type="text" class="form-control" name="query" maxlength="100" required>
            <span class="input-group-btn">
              <button class="btn btn-outline-success" type="submit" id="search_bar">Search</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% for book in books %}
    <div class="h-30 row row-content align-items-center" id="book-row">
      <div class="col-sm-4 col-md-3">
        <img alt="book-cover" class="mx-auto d-block img-fluid" src="{{ book.cover.url }}">
      </div>
      <div class="col-sm-8 col-md-8">
        <div class="card mb-4">
          <div class="card-body h-80">
            <h5 class="card-title">{{ book.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted"><a href="{% url 'book_list_by_author' book.author.id %}">{% if book.author.first_name %}{{ book.author.first_name }}{% endif %} {{ book.author.last_name }}</a></h6>
            <p class="card-text">Genres: {% for genre in book.genre.all %}<a href="{%  url 'book_list_by_genre' genre.id %}"> {{ genre.genre }} </a>{% endfor %}</p>
            <p><strong>Average rating: {{ book.average_rating|floatformat:2 }}/5 out of {{ book.num_ratings }} votes</strong></p>

            <div class="row">
              <div class="col-12 col-sm-4">
                <a href="{% url 'book_detail' book.id %}" class="btn btn-primary btn-lg active" role="button">See book</a>
              </div>
              <div class="col-12 col-sm-4">

              </div>
              <div class="col-12 col-sm-4">

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  {% endfor %}
{% endblock %}