{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
  <div class="h-30 row row-content align-items-center" id="book-row">
    <div class="col-sm-12 col-md-3">
      <img class="mx-auto d-block img-fluid" src="{{ book.cover.url }}">
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="card mb-4">
        <div class="card-body h-80">
          <h5 class="card-title">Title: {{ book.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted"><a href="{% url 'book_list_by_author' book.author.id %}">{% if book.author.first_name %}{{ book.author.first_name }}{% endif %} {{ book.author.last_name }}</a></h6>            <p class="card-text">{{ book.description }}</p>

            {% if rating %}
              <p><strong>Your rating for this book: {{ rating.rate }}/5</strong></p>
            {% else %}
              <p><strong>You haven't rated this book</strong></p>
            {% endif %}

            {% if review %}
              <p><strong>You have written a review for this books</strong></p>
            {% else %}
              <p><strong>You have not written a review for this books</strong></p>
            {% endif %}

            {% if shelf_item %}
              <p><strong>You have added this book to shelf - {{ shelf_item.shelf_row.name }}</strong> <a href="{% url 'delete_shelf_item' shelf_item.id section %}">(remove from shelf)</a></p>
            {% else %}
              <p><strong>This book is not added to your shelf</strong></p>
            {% endif %}

            <div class="row">
              <div class="col-12 col-sm-4">
                {% if rating %}
                  <form action="{% url 'book_rate_update' book.id rating.id %}" method="post" enctype="multipart/form-data">
                {% else %}
                  <form action="{% url 'book_rate_create' book.id %}" method="post" enctype="multipart/form-data">
                {% endif %}
                    {% csrf_token %}
                    {{ book_rate_form.rate|as_crispy_field }}
                    <button type="submit" class="btn btn-success">{% if rating %}Update rating{% else %}Rate book{% endif %}</button>
                  </form>
              </div>
              <div id="review_button" class="d-flex align-items-start flex-column col-12 col-sm-4">
                {% if review %}
                  <p><strong>Update review</strong></p>
                  <a href="{% url 'update_book_review' book.id review.id %}" class="btn btn-success" role="button" aria-pressed="true">Update review</a>
                {% else %}
                  <p><strong>Write a review</strong></p>
                  <a href="{% url 'review_book' book.id %}" class="btn btn-success" role="button" aria-pressed="true">Write review</a>
                {% endif %}
              </div>
              <div class="d-flex align-items-start flex-column col-12 col-sm-4">
                {% if shelf_item %}
                  <form action="{% url 'update_shelf_item' book.id shelf_item.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ shelf_item_form.shelf_row|as_crispy_field }}
                    <button type="submit" class="btn btn-success">Update Item</button>
                  </form>
                {% else %}
                  <form action="{% url 'add_shelf_item' book.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ shelf_item_form.shelf_row|as_crispy_field }}
                    <button type="submit" class="btn btn-success">Add Item</button>
                  </form>
                {% endif %}
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>

  <div class="h-30 row align-items-center">
    <div class="col-12">
      <h2 id="reviews_header" >Reviews for {{ book.title }}:</h2>
    </div>

    {% for review in page_obj %}
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body h-80">
            <h5 class="card-title"><a href="{% if request.user.id == review.reviewer.id %}{% url 'user_profile' %}{% else %}{% url 'user_detail' review.reviewer.id %}{% endif %}">{{ review.reviewer.get_full_name }}</a> - {{ review.datetime }}</h5>
            <p><a href="{% url 'review_detail' review.id %}">(See review)</a></p>
            <p>{{ review.text }}</p>

          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% if page_obj %}
    <nav aria-label="Page navigation example">
      <UL class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">first</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                  <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
              {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2'%}
                  <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
              {% endif %}
          {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a></li>
        {% endif %}
      </UL>
    </nav>
  {% else  %}
    <p>There are currently no reviews for this book</p>
  {% endif %}

{% endblock %}

{% block domready %}
{% endblock %}