#navigation_bar {
    background-color: #70A9A1;
    margin-bottom: 10px;
}

.row-content {
    margin: 0px auto;
    padding: 20px 0px;
    border-bottom: 1px ridge;
}

#search_bar {
    margin-left: 10px;
    margin-bottom: 10px;
}

#book_query {
    max-width: 100%;
}

#reviews_header {
    margin-top: 20px;
    margin-bottom: 20px;
}

#book_list_pagination {
    margin-top: 20px;
}

#shelf_item_pagination{
    margin-top: 20px;
}

#add_new_shelf_row_button {
    margin-top: 20px;
}

#delete_shelf_row_button {
    margin-left: 5px;
}

#review_button {
    margin-top: 47px;
}