{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "css/base.css" %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-light" id="navigation_bar">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if section == "home" %}active{% endif %}">
              <a class="nav-link" href="{% url "dashboard" %}">{% if user.is_authenticated %}Dashboard{% else %}Home{% endif %}</a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item {% if section == "shelf" %}active{% endif %}">
                <a id="shelf-button" class="nav-link" href="{% url 'shelf_lists' request.user.id %}">Shelf</a>
              </li>
              <li class="nav-item {% if section == "search" %}active{% endif %}">
                <a id="search-button" class="nav-link" href="{% url 'book_list' %}">Search</a>
              </li>
              <li class="nav-item {% if section == "social" %}active{% endif %}">
                <a class="nav-link" href="{% url 'user_list' %}">Social</a>
              </li>
            {% endif %}
          </ul>
        </div>

        <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto" href="{% url "dashboard" %}">MyShelf</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
              <li class="nav-item {% if section == "profile" %}active{% endif %}">
                <a class="nav-link" href="{% url 'user_profile' %}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
            {% else %}
              <li class="nav-item {% if section == "register" %}active{% endif %}">
                <a class="nav-link" href="{% url "register" %}">Register</a>
              </li>
              <li class="nav-item {% if section == "login" %}active{% endif %}">
                <a id="login-button" class="nav-link " href="{% url "login" %}">Login</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
        {% if genres %}
          <div class="col-lg-2">
            <div class="content-section">
              <h3>Genres</h3>
              <p class='text-muted'>find books by genre</p>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a href="{% url 'book_list' %}">All books</a></li>
                {% for genre in genres %}
                  <li class="list-group-item list-group-item-light"><a href="{% url 'book_list_by_genre' genre.id %}">{{ genre.genre }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}

        <div class="{% if genres %}col-lg-10{% else %}col{% endif %}">
          {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <footer class="page-footer font-small blue pt-4">
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static "js/base.js" %}"></script>
    <script>
      var csrftoken = Cookies.get('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
      $(document).ready(function() {
        {% block domready %}
        {% endblock %}
      });
    </script>

  </body>
</html>