{% extends "base.html" %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
  <div class="h-30 row row-content align-items-center" id="book-row">
      <div class="col-sm-12 col-md-3">
        <img class="mx-auto d-block img-fluid" src="{{ book.cover.url }}">
      </div>
      <div class="col-sm-12 col-md-8">
        <div class="card mb-4">
          <div class="card-body h-80">
            <h5 class="card-title">Title: {{ book.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Author: {% for author in book.author.all %} {{ author }} {% endfor %}</h6>
            <p class="card-text">{{ book.description }}</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}