{% extends "base.html" %}

{% block title %}Shelf{% endblock %}

{% block content %}
  {% if shelf.owner == request.user %}
    <h2>Your shelves:</h2>
  {% else %}
    <h2>{{ shelf.owner.first_name }}'s shelves:</h2>
  {% endif %}
  {% for shelf in shelf_rows %}
    <div class="h-30 row row-content align-items-center">
      <div class="col">
        <div class="card mb-4">
          <div class="card-body h-80">
            <h5 class="card-title">{{ shelf.name }} - {{ shelf.num_items }} Books</h5>

            <div class="row">
              <div class="col-12 col-sm-4">
                <a href="{% url 'shelf_row_items' shelf.id %}" class="btn btn-primary btn-lg active" role="button">See Shelf Row</a>
                {% if shelf.is_default %}
                  <a id="delete_shelf_row_button" href="{% url 'delete_shelf_row' shelf.id %}" class="btn btn-danger btn-lg active" role="button">Delete Row</a>
                {% endif %}
              </div>
              <div class="col-12 col-sm-4">

              </div>
              <div class="col-12 col-sm-4">

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  {% endfor %}

  <a id="add_new_shelf_row_button" href="{% url 'add_shelf_row' %}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Add new shelf</a>
{% endblock %}